ApacheCXFwithSpringBootContractLastSoapWS/src/main/resources/wsdl/ProductService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ProductService" targetNamespace="http://service.example.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.example.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://service.example.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.example.org/" version="1.0">

  <xs:element name="Product" type="tns:product"/>

  <xs:element name="createProduct" type="tns:createProduct"/>

  <xs:element name="createProductResponse" type="tns:createProductResponse"/>

  <xs:element name="deleteProduct" type="tns:deleteProduct"/>

  <xs:element name="deleteProductResponse" type="tns:deleteProductResponse"/>

  <xs:element name="getAllProducts" type="tns:getAllProducts"/>

  <xs:element name="getAllProductsResponse" type="tns:getAllProductsResponse"/>

  <xs:element name="getProduct" type="tns:getProduct"/>

  <xs:element name="getProductResponse" type="tns:getProductResponse"/>

  <xs:element name="updateProduct" type="tns:updateProduct"/>

  <xs:element name="updateProductResponse" type="tns:updateProductResponse"/>

  <xs:complexType name="createProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="product" type="tns:product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="product">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:long"/>
      <xs:element form="qualified" minOccurs="0" name="name" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="price" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteProductResponse">
    <xs:sequence>
      <xs:element name="Product" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="product" type="tns:product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAllProducts">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllProductsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:product"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createProduct">
    <wsdl:part name="parameters" element="tns:createProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProduct">
    <wsdl:part name="parameters" element="tns:updateProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createProductResponse">
    <wsdl:part name="parameters" element="tns:createProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProductResponse">
    <wsdl:part name="parameters" element="tns:deleteProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProduct">
    <wsdl:part name="parameters" element="tns:getProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductResponse">
    <wsdl:part name="parameters" element="tns:getProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllProducts">
    <wsdl:part name="parameters" element="tns:getAllProducts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllProductsResponse">
    <wsdl:part name="parameters" element="tns:getAllProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateProductResponse">
    <wsdl:part name="parameters" element="tns:updateProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteProduct">
    <wsdl:part name="parameters" element="tns:deleteProduct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductService">
    <wsdl:operation name="createProduct">
      <wsdl:input name="createProduct" message="tns:createProduct">
    </wsdl:input>
      <wsdl:output name="createProductResponse" message="tns:createProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <wsdl:input name="deleteProduct" message="tns:deleteProduct">
    </wsdl:input>
      <wsdl:output name="deleteProductResponse" message="tns:deleteProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <wsdl:input name="updateProduct" message="tns:updateProduct">
    </wsdl:input>
      <wsdl:output name="updateProductResponse" message="tns:updateProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <wsdl:input name="getProduct" message="tns:getProduct">
    </wsdl:input>
      <wsdl:output name="getProductResponse" message="tns:getProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <wsdl:input name="getAllProducts" message="tns:getAllProducts">
    </wsdl:input>
      <wsdl:output name="getAllProductsResponse" message="tns:getAllProductsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceSoapBinding" type="tns:ProductService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllProducts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllProducts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="ProductServiceImplPort" binding="tns:ProductServiceSoapBinding">
      <soap:address location="http://localhost:8080/services/ProductService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
